.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
}

.navList {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navList li {
  margin-right: 20px;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navLink:hover {
  color: #1c9f0e;
  transition: 0.4s;
  background-color: #bcb8b8;
  border-radius: 8px;
  padding: 5px 10px;
}

.itemNav {
  display: flex;
  align-items: center;
}

.optionsNav {
  display: absolute;
  margin-left: 20px;
}

.optionsNav a {
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s ease;
}

.optionsNav a:hover {
  color: #1c9f0e;
}

.navImg {
  width: 50px;
  border-radius: 50%;
}
