.border-item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 600px;
  margin-left: 600px;
}

.border-last-item {
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 600px;
  margin-left: 600px;
  margin-bottom: 100px;
}

lable {
  font-size: 20px;
  text-align: left;
}
